<!DOCTYPE html>
<html lang="en">

<head>
	<meta charset="UTF-8">
	<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet"
		integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>
		MundoAutopartes
	</title>
	<link rel="stylesheet" href="css/styles.css">
</head>

<body>

	<!-- El nav. Inicio -->
	<nav class="navbar navbar-expand-lg bg-body-tertiary">
		<div class="container-fluid">
			<a class="navbar-brand" href="#">MundoAutopartes</a>
			<button class="navbar-toggler" type="button" data-bs-toggle="collapse"
				data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
				aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav me-auto mb-2 mb-lg-0">
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="#">Contacto</a>
					</li>
					<li class="nav-item">
						<a class="nav-link active" aria-current="page" href="index.html">Inicio</a>
					</li>
					<li>
						<a class="nav-link active" aria-current="page" href="index.html">Vender</a>
					</li>
					<li>
						<li>
							<a class="nav-link active" aria-current="page" href="https://mundo-autopartes.odoo.com/" target="_blank">Foro</a>
						</li>						
						<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown"
							aria-expanded="false">
							Categorías
						</a>
						<ul class="dropdown-menu">
							<li><a class="dropdown-item" href="/mostrar-alternador">Alternador</a></li>
							<li><a class="dropdown-item" href="/arnes">Arnés</a></li>
							<li><a class="dropdown-item" href="/mostrar-full-injection">Full Injection</a></li>
							<li><a class="dropdown-item" href="/mostrar-iluminacion">Iluminación</a></li>
							<li><a class="dropdown-item" href="marchas.ejs">Marchas</a></li>
							<li><a class="dropdown-item" href="quimicos.ejs">Químicos</a></li>
							<li><a class="dropdown-item" href="/terminal">Terminal</a></li>
						</ul>
					</li>
				</ul>
				<form class="d-flex" role="search">
					<input id="buscador" class="form-control me-2" type="search" placeholder="Buscar"
						aria-label="Search">
				</form>

				<!-- Aquí agregamos la imagen de la foto de perfil del usuario -->
				<ul class="navbar-nav ms-auto">
					<li class="nav-item">
						<a class="nav-link" href="/perfilUsuario.ejs">
							<img src="../img/usuario.png" alt="Perfil" style="width: 50px; height: 50px; border-radius: 50%;">
						  </a>						     
					</li>
				</ul>
				
			</div>
		</div>
	</nav>
	<!-- El nav. Fin -->

	<section>
		<article></article>
	</section>
	<!-- Las imagenes/Categorias. Inicio -->

	<section class="container-related-products">
		<br>
		<h2>Categorías principales</h2>
		<div class="card-list-products">
			<!-- ALTERNADOR -->
			<div class="card">
				<a href="/mostrar-alternador">
					<div class="card-img">
						<img src="img/alternador.png" alt="producto-1">
					</div>
					<div class="info-card">
						<div class="text-product">
							<h3>Alternador</h3>
						</div>
					</div>
				</a>
			</div>
			<!-- ARNES -->
			<div class="card">
				<a href="/arnes">
					<div class="card-img">
						<img src="img/Arnes.png" alt="producto-2">
					</div>
					<div class="info-card">
						<div class="text-product">
							<h3>Arnés</h3>
						</div>
					</div>
				</a>
			</div>
			<!-- FULL INJECTION -->
			<div class="card">
				<a href="/mostrar-full-injection">
					<div class="card-img">
						<img src="img/injection.bobina.png" alt="producto-4">
					</div>
					<div class="info-card">
						<div class="text-product">
							<h3>Full injection</h3>
						</div>
					</div>
				</a>
			</div>
			<!-- ILUMINACION  -->
			<div class="card">
				<div class="card-img">
					<a href="/mostrar-iluminacion">
						<img src="img/Iluminacion.png" alt="producto-3">
				</div>
				<div class="info-card">
					<div class="text-product">
						<h3>Iluminación</h3>
					</div>
				</div>
				</a>
			</div>
			<!-- MARCHAS -->
			<div class="card">
				<a href="marchas.ejs">
					<div class="card-img">
						<img src="img/marcha.png" alt="producto-5">
					</div>
					<div class="info-card">
						<div class="text-product">
							<h3>Marchas</h3>
						</div>
					</div>
				</a>
			</div>
			<!-- QUIMICOS -->
			<div class="card">
				<a href="quimicos.ejs">
					<div class="card-img">
						<img src="img/quimico.png" alt="producto-6">
					</div>
					<div class="info-card">
						<div class="text-product">
							<h3>Químicos</h3>
						</div>
					</div>
				</a>
			</div>
			<!-- TERMINAL -->
			<div class="card">
				<a href="/terminal">
					<div class="card-img">
						<img src="img/terminal.png" alt="producto-7">
					</div>
					<div class="info-card">
						<div class="text-product">
							<h3>Terminal</h3>
						</div>
					</div>
				</a>
			</div>
		</div>
	</section>
	<!-- Las imagenes/Categorías. Fin -->

	<footer class="pie">
		<div class="text-center bg-light">
			<h4>Derechos reservados</h4>
			<p>(c) Son mis derechos</p>
		</div>
	</footer>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js"
		integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm"
		crossorigin="anonymous"></script>

	<!-- <script src="/si.js"></script> -->

</body>

</html>